@use './../abstracts/variables' as *;
@use './../abstracts/mixins' as *;

.section {
  padding-block: 80px;
  overflow: hidden;
  will-change: auto;
  transform: translateZ(0);
  backface-visibility: hidden;

  &--bottom-line {
    border-bottom: 1px solid $white-10;
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 32px;
  }

  @include media($md) {
    will-change: transform, opacity;
  }

  @include media($lg) {
    padding-block: 112px;

    &__header {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 64px;
      margin-bottom: 64px;
    }
  }
}
