@use './../abstracts/variables' as *;
@use './../abstracts/mixins' as *;

.section {
  margin-block: 80px;
  overflow: hidden;

  &--bottom-line {
    border-bottom: 1px solid $white-10;
  }

  &__container {
    display: grid;
    gap: 32px;
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  @include media($lg) {
    margin-block: 112px;

    &__container {
      gap: 64px;
    }
  }
}
