@use './../abstracts/variables' as *;
@use './../abstracts/mixins' as *;

.button-up {
  opacity: 0;
  visibility: hidden;
  display: flex;
  position: fixed;
  bottom: 16px;
  right: 16px;
  color: $white;
  z-index: 100;
  @include css_anim();
  svg {
    width: 24px;
    height: 24px;
  }

  &.show {
    opacity: 1;
    visibility: visible;
  }
}
