@use './../abstracts/variables' as *;
@use './../abstracts/mixins' as *;

.link {
  color: $white;
  @include css_anim();

  &--base {
    &:hover {
      color: $white-60;
    }
  }

  &--underline {
    color: inherit;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: from-font;
    text-decoration-color: $white-20;

    &:hover {
      text-decoration-color: $white;
    }
  }
}
