@use './../abstracts/variables' as *;
@use './../abstracts/mixins' as *;

.slider-navigation {
  display: none;
  position: absolute;
  left: 8px;
  right: 8px;
  top: 50%;
  align-items: center;
  justify-content: space-between;
  transform: translateY(-50%);
  pointer-events: none;
  z-index: 2;

  &__button {
    pointer-events: all;

    svg {
      width: 24px;
      height: 24px;
    }

    &--prev {
      scale: -1;
    }
  }

  @include media($lg) {
    display: flex;
    left: -32px;
  right: -32px;
  }
}
