@use './../abstracts/variables' as *;
@use './../abstracts/mixins' as *;

.contact-form {
  background-color: $darkLight-90;

  @include media($lg) {
    &__grid {
      display: grid;
      grid-template-columns: 1fr auto;
      gap: 24px;
    }

    &__group {
      grid-template-columns: repeat(3, 1fr);
      gap: 16px;
    }

    &__agreement {
      grid-column: span 3;
    }
  }
}
