@use './../abstracts/variables' as *;
@use './../abstracts/mixins' as *;

.preloader {
  position: fixed;
  inset: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  height: 100dvh;
  background-color: $darkLight;
  padding-block: 40px;
  z-index: 1000;
  transition:
    opacity 0.5s ease,
    visibility 0.5s ease;

  &--hidden {
    opacity: 0;
    visibility: hidden;
  }

  &__header {
    position: relative;
    display: flex;
    justify-content: center;
    opacity: 0.1;
    z-index: 3;
  }

  &__logo {
    width: auto;
    height: 40px;
  }

  &__body {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    z-index: 3;
  }

  &__number {
    text-align: center;
    @include font(200px, 246px, 300);
    transition: transform 0.2s ease;

    &--update {
      transform: scale(1.1);
    }
  }

  &__developer {
    position: relative;
    display: flex;
    justify-content: center;
    opacity: 0.1;
    z-index: 3;

    img {
      height: 40px;
      width: auto;
    }
  }

  &__progressbar-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background-color: transparent;
    z-index: 2;
  }

  &__progressbar {
    height: 100%;
    width: 0%;
    background-color: $white-10;
    transition: width 0.1s linear;
    transform-origin: left;
  }

  @include media($lg) {
    &__logo {
      height: 53px;
    }

    &__number {
      @include font(300px, 390px, 300);
    }
  }
}
