/node_modules
/.npm
/dist
/.env
/LOCK_BEFORE
/LOCK_AFTER
/routes.local.js
/TODO.md

.vscode
.sublime-workspace
.sublime-project
.idea
.DS_Store
.vagrant

*.log

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions