{
  "useTabs": false,
  "printWidth": 120,
  "singleQuote": true,
  "semi": true,
  "bracketSpacing": false,
  "trailingComma": "all",
  "htmlWhitespaceSensitivity": "ignore",
  "endOfLine": "auto",
  "tabWidth": 2,
  "overrides": [
    {
      "files": "**/*.hbs",
      "options": {
        "parser": "angular"
      }
    }
  ]
}
