<div class="form__agreement js-form-field">
  <input
    id="{{ content.id }}"
    class="checkbox js-form-field-input"
    name="{{ content.id }}"
    type="checkbox"
    value="Y"
    required
  />
  <label for="{{ content.id }}">
    <span class="form__agreement-text">
      Согласен с обработкой
      <a href="#" target="_blank" class="link link--underline">персональных данных</a>
    </span>
  </label>
</div>
