<footer class="footer">
  <div class="container">
    <div class="footer__body">
      <div class="footer__connection">
        {{>contacts-info dopClass="footer__contacts"}}
        {{>socials class="footer__socials"}}
      </div>
      <div class="footer__separator"></div>
      {{>navigation dopClass="footer__navigation" ariaLabel="Навигация в подвале сайта"}}
      <div class="footer__logo-block">
        {{>logo dopClass="footer__logo"}}
      </div>
      <div class="footer__bottom">
        <div class="footer__bottom-links">
          <div>© 2026 ООО СЗ «Стройсоюз»</div>
          <a href="#">Политика конфиденциальности</a>
          <a href="#">Договор оферты</a>
          <a href="#">Проектная декларация</a>
        </div>
        <div class="footer__developer">
          Разработано командой
          <span class="footer__developer-logo">
            <svg width="16" height="16">
              <use href="#circle" />
            </svg>
            КРУГ
          </span>
        </div>
      </div>
    </div>
  </div>
</footer>
