<footer class="footer js-fade-in-block">
  <div class="container">
    <div class="footer__body">
      <div class="footer__connection">
        {{>contacts-info dopClass="footer__contacts"}}
        {{>socials class="footer__socials"}}
      </div>
      <div class="footer__separator"></div>
      {{>navigation dopClass="footer__navigation" ariaLabel="Навигация в подвале сайта"}}
      <div class="footer__logo-block">
        <a class="logo footer__logo" href="#top" aria-label="Вернуться наверх">
          <img src="./images/svg/footer-logo.svg" alt="" />
          <span class="visually-hidden">Логотип ЖК "Холмс"</span>
        </a>
      </div>
      <div class="footer__bottom">
        <div class="footer__bottom-links">
          <div>© 2026 ООО СЗ «Стройсоюз»</div>
          <a href="#">Политика конфиденциальности</a>
          <a href="#">Договор оферты</a>
          <a href="#">Проектная декларация</a>
        </div>
        <div class="footer__developer">
          Разработано командой
          <button type="button" class="footer__developer-logo js-modal-open-button" data-modal="team">
            <svg width="16" height="16">
              <use href="#circle" />
            </svg>
            КРУГ
          </button>
        </div>
      </div>
    </div>
  </div>
</footer>
