<header class="header js-header">
  <div class="container header__wrapper">
    <div class="header__top">
      <button
        type="button"
        aria-label="Кнопка навигационного меню"
        class="header__burger js-burger-button-menu"
      ></button>
      {{>logo dopClass="header__logo"}}
    </div>

    <div class="header__block">
      {{>contacts-info dopClass="header__contacts js-header-contacts"}}
      {{!-- <div class="header__contacts js-header-contacts">
        <div class="header__contact">
          <a class="header__contact-link link" href="mailto:partner@stroy-soyuz.ru">partner@stroy-soyuz.ru</a>
          <div class="header__contact-text">г. Киров, ул. Свободы 110</div>
        </div>
        <div class="header__contact">
          <a class="header__contact-link link" href="tel:+78332715705">+7 (8332) 715-705</a>
          <div class="header__contact-text">Ежедневно, с 9:00 до 21:00</div>
        </div>
      </div> --}}
      <button
        type="button"
        class="header__feedback-btn button button--outline button--size--small js-modal-open-button js-header-feedback-btn"
        data-modal="feedback"
      >
        Заказать звонок
      </button>
    </div>
    {{>navigation dopClass="header__navigation js-header-navigation"  ariaLabel="Навигация в шапке сайта"}}
  </div>
</header>
