<header class="header js-header">
  <div class="container header__wrapper">
    <div class="header__top">
      <button
        type="button"
        aria-label="Кнопка навигационного меню"
        class="header__burger js-burger-button-menu"
      ></button>
      {{>logo dopClass="header__logo"}}
    </div>

    <div class="header__block">
      <button
        type="button"
        class="header__feedback-btn button button--outline button--size--small js-modal-open-button"
        data-modal="feedback"
      >
        Заказать звонок
      </button>
    </div>
  </div> 
</header>
 {{>burger-menu}}