<header class="header js-header">
  <div class="container header__wrapper">
    <div class="header__top">
      <button
        type="button"
        aria-label="Кнопка навигационного меню"
        class="header__burger js-burger-button-menu"
      ></button>
      {{>logo dopClass="header__logo"}}
    </div>

    <div class="header__block">
      {{>contacts-info dopClass="header__contacts js-header-contacts"}}
      <button
        type="button"
        class="header__feedback-btn button button--outline button--size--small js-modal-open-button js-header-feedback-btn"
        data-modal="feedback"
      >
        Заказать звонок
      </button>
    </div>
    {{>navigation dopClass="header__navigation js-header-navigation"  ariaLabel="Навигация в шапке сайта"}}
  </div>
</header>
