<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=360, initial-scale=1, shrink-to-fit=no, maximum-scale=1" />
  <meta name="format-detection" content="telephone=no" />

  <title>
    {{#if title}}
    {{ title }}
    {{else}}
    ЖК «Холмс»
    {{/if}}
  </title>

  <link rel="preload" href="/fonts/NTSakharov-Light.woff2" as="font" type="font/woff2" crossorigin />
  <link rel="preload" href="/fonts/NTSakharov-Regular.woff2" as="font" type="font/woff2" crossorigin />

  <script src="//api-maps.yandex.ru/2.1/?lang=ru_RU&apikey=36622bc4-ebac-42cc-8927-44b4453d5263"></script>

  <link rel="stylesheet" href="/styles/main.scss" />
</head>
