<head>
  <meta charset="utf-8">
  <meta
    name="viewport"
    content="width=360, initial-scale=1, shrink-to-fit=no, maximum-scale=1"
  >
  <meta name="format-detection" content="telephone=no">

  <title>
    {{#if title}}
      {{title}}
    {{else}}
      Заголовок
    {{/if}}
  </title>
  
  <link rel="stylesheet" href="/styles/main.scss">
</head>