<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=360, initial-scale=1, shrink-to-fit=no, maximum-scale=1" />
  <meta name="format-detection" content="telephone=no" />

  <title>
    {{#if title}}
    {{ title }}
    {{else}}
    Заголовок
    {{/if}}
  </title>

  <script>
    window.loadYandexMap = function () {
      let mapOnload = new CustomEvent('maponload');
      document.dispatchEvent(mapOnload);
    };
  </script>
  <script src="//api-maps.yandex.ru/2.1/?lang=ru_RU&apikey={{ env.YMAPS_API_KEY }}&onload=loadYandexMap"></script>

  <link rel="stylesheet" href="/styles/main.scss" />
</head>
