<section class="section about-project js-fade-in-block" id="about-project">
  <div class="container">
    <div class="about-project__wrapper">
      <a href="/images/about/home-1600.webp" class="about-project__image-wrap" data-fslightbox="about">
        {{!-- {{{responsivePicture "/images/about/home" "png" "ЖК Холмс" "(max-width: 768px) 100vw, 
                  (max-width: 1080px) 415px, 
                  523px"}}} --}}
        <picture>
          <source type="image/webp" srcset="/images/about/home-400.webp 400w, /images/about/home-800.webp 800w, /images/about/home-1600.webp 1600w, /images/about/home-4000.webp 4000w" sizes="(max-width: 768px) 100vw, 
                  (max-width: 1080px) 415px, 
                  523px">
          <source type="image/png" srcset="/images/about/home-400.png 400w, /images/about/home-800.png 800w, /images/about/home-1600.png 1600w, /images/about/home-4000.png 4000w" sizes="(max-width: 768px) 100vw, 
                  (max-width: 1080px) 415px, 
                  523px">
          <img src="/images/about/home-400.png" alt="ЖК Холмс" loading="lazy">
        </picture>
        <div class="about-project__open-gallery-btn button button--action button--action--small button--action--circle">
          <svg width="48" height="48">
              <use href="#full-screen"></use>
            </svg>
            <span class="visually-hidden">Открыть изображение в полном размере</span>
        </div>
      </a>
      <div class="about-project__body">
        <h2 class="about-project__title">О проекте</h2>
        <div class="about-project__content">
          <ul class="about-project__brief-info">
            <li class="about-project__brief-info-col">
              <span class="h3 about-project__brief-info-title">30 м<sup>2</sup></span>
              <span class="about-project__brief-info-text">Квартиры от</span>
            </li>
            <li class="about-project__brief-info-col">
              <span class="h3 about-project__brief-info-title">128</span>
              <span class="about-project__brief-info-text">Всего квартир</span>
            </li>
            <li class="about-project__brief-info-col">
              <span class="h3 about-project__brief-info-title">3+</span>
              <span class="about-project__brief-info-text">Квартир на этаже</span>
            </li>
          </ul>
          <div class="about-project__text">
            <p class="text-big">
              Жилой квартал «Холмс» — современный малоэтажный проект бизнес-класса в развитом районе города. Комплекс
              сочетает приватную атмосферу, выразительную архитектуру и продуманную внутреннюю инфраструктуру. В проекте
              предусмотрены разнообразные планировки, благоустроенный двор, подземный паркинг и коммерческие помещения
              на первых этажах. Срок сдачи — 4 квартал 2027 года.
            </p>
          </div>
          <ul class="about-project__list">
            <li class="about-project__list-item text-big">
              <svg width="24" height="24">
                <use href="#pin-icon"></use>
              </svg>
              ул. Успенская, д. 33
            </li>
            <li class="about-project__list-item text-big">
              <svg width="24" height="24">
                <use href="#keys"></use>
              </svg>
              сдача в 4 квартале 2027
            </li>
          </ul>
          <a href="#" target="_blank" class="about-project__btn button button--outline button--size--small">
            сайт проекта
          </a>
        </div>
      </div>        
    </div>
  </div>
</section>
