<section class="section advantages js-fade-in-block" id="advantages">
  <div class="container">
    <header class="section__header">
      <h2>Почему «Холмс»</h2>
    </header>
    <div class="advantages__slider-block js-advantages-slider">
      <div class="advantages__slider swiper">
        <div class="swiper-wrapper">
          {{#each advantages}}
          {{>advantage-card content=this dopClass="advantages__slide swiper-slide"}}
          {{/each}}
        </div>
      </div>
      {{>slider-navigation}}
    </div>
  </div>
</section>
