<section class="contacts-map js-fade-in-block js-contacts-map-block">
  <div class="container">
    <aside class="contacts-map__aside">
      <div class="contacts-map__section">
        <h2 class="contacts-map__title h4">Контакты</h2>
        <div class="contacts-map__info">
          <a class="contacts-map__phone" href="tel:+78332715705">+7 (8332) 715-705</a>
          <div class="contacts-map__schedule">Ежедневно, с 9:00 до 21:00</div>
        </div>
        <ul class="contacts-map__list">
          <li class="contacts-map__list-item">
            <svg width="24" height="24">
              <use href="#pin-icon"></use>
            </svg>
            <address>г. Киров, ул. Свободы 110</address>
          </li>
          <li class="contacts-map__list-item">
            <svg width="24" height="24">
              <use href="#email"></use>
            </svg>
            <a href="mailto:partner@stroy-soyuz.ru">partner@stroy-soyuz.ru</a>
          </li>
        </ul>
        <ul class="contacts-map__socials">
          <li>
            <a
              class="button button--action button--action--small"
              href="https://vk.com/stroysoyuz_kirov"
              target="_blank"
              rel="nofollow"
              aria-label="Перейти в ВКонтакте"
            >
              <svg width="48" height="48">
                <use href="#contact-vk"></use>
              </svg>
            </a>
          </li>
          <li>
            <a
              class="button button--action button--action--small"
              href="https://t.me/stroysouse"
              target="_blank"
              rel="nofollow"
              aria-label="Перейти в Телеграм"
            >
              <svg width="48" height="48">
                <use href="#contact-telegram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="contacts-map__section contacts-map__section--sm-gap">
        <div class="contacts-map__title h4">Презентация</div>
        <a href="#" download class="button button--outline button--size--small">Скачать .pdf</a>
      </div>
    </aside>
  </div>

  <div
    id="contact-map"
    class="contacts-map__ymaps js-contacts-map"
    data-zoom="15"
    data-lt="58.594344"
    data-lg="49.677814"    
    loading="lazy"
  ></div>
</section>
