<section class="section gallery tabs js-fade-in-block js-tabs js-slider-block" id="gallery">
  <div class="container">
    <header class="section__header">
      <h2>Галерея</h2>
      {{>tabs-slider content=gallery.tabs}}
    </header>
    <div class="tabs__content">
      {{#each gallery.panes }}
      <div class="tabs__pane {{#if @first}}tabs__pane--active{{/if}} js-tabs-pane gallery__block-slider js-gallery-slider-block" data-tab-content="{{ this.id }}">
        <div class="gallery__slider swiper ">
          <div class="swiper-wrapper">
            {{#repeat 3 }}
              {{>gallery-card id=../id }}
            {{/repeat}}
          </div>
        </div>
        {{>slider-navigation}}
      </div>      
      {{/each}}
    </div>
  </div>
</section>
