<div class="intro">
  <picture class="intro__house-bg">
    <source
      srcset="/images/intro/house-xl.webp 1x, /images/intro/house-xl@2x.webp 2x"
      media="(min-width: 1440px)"
      type="image/webp"
    />
    <source
      srcset="/images/intro/house-lg.webp 1x, /images/intro/house-lg@2x.webp 2x"
      media="(min-width: 1080px)"
      type="image/webp"
    />
    <source
      srcset="/images/intro/house-md.webp 1x, /images/intro/house-md@2x.webp 2x"
      media="(min-width: 391px)"
      type="image/webp"
    />
    <source
      srcset="/images/intro/house-sm.webp 1x, /images/intro/house-sm@2x.webp 2x"
      media="(max-width: 390px)"
      type="image/webp"
    />

    <source srcset="/images/intro/house-xl.png 1x, /images/intro/house-xl@2x.png 2x" media="(min-width: 1440px)" />
    <source srcset="/images/intro/house-lg.png 1x, /images/intro/house-lg@2x.png 2x" media="(min-width: 1080px)" />
    <source srcset="/images/intro/house-md.png 1x, /images/intro/house-md@2x.png 2x" media="(min-width: 391px)" />
    <source srcset="/images/intro/house-sm.png 1x, /images/intro/house-sm@2x.png 2x" media="(max-width: 390px)" />

    <img
      src="/images/intro/house-md.png"
      srcset="/images/intro/house-md.png 1x, /images/intro/house-md@2x.png 2x"
      alt="Дом с подсветкой"
    />
  </picture>
  <div class="intro__container container">
    <div class="intro__holms">
      <img class="intro__holms-light" src="/images/intro/holms-light.png" alt="" />
      <img class="intro__holms-dark" src="/images/intro/holms-dark.png" alt="" />
    </div>
    <header class="intro__header">
      <div class="intro__headline headline">всё элементарно</div>
      <h1 class="intro__title">Резиденция «Холмс»</h1>
    </header>
    {{> info-plash dopClass="intro__bottom"}}
  </div>
</div>
