@use './../../abstracts/variables' as *;
@use './../../abstracts/mixins' as *;

.advantages {
  &__slider-block {
    position: relative;
  }

  &__slider {
    overflow: visible;

    &:not(.swiper-initialized) {
      .swiper-slide {
        margin-right: 16px;
      }
    }
  }

  &__slide {
    width: 298px;

    &.swiper-slide-fully-visible {
      .advantage-card__text {
        opacity: 1;
        max-height: 120px;
        transition:
          opacity 1s cubic-bezier(0.2, 0.9, 0.4, 1.1),
          max-height 1.2s cubic-bezier(0.2, 0.85, 0.4, 1);
      }
    }
  }

  @include media($md) {
    &__slider {
      &:not(.swiper-initialized) {
        .swiper-slide {
          width: calc(50% - 8px);
        }
      }
    }

    &__slide {
      width: auto;
    }
  }

  @include media($lg) {
    &__slider {
      overflow: hidden;

      &:not(.swiper-initialized) {
        .swiper-slide {
          width: calc(33.33% - 26.67px);
          margin-right: 40px;
        }
      }
    }

    &__slide {
      &.swiper-slide-visible {
        .advantage-card__text {
          opacity: 0;
          max-height: 0;
        }

        &:hover {
          .advantage-card__text {
            opacity: 1;
            max-height: 120px;
            transition:
              opacity 1s cubic-bezier(0.2, 0.9, 0.4, 1.1),
              max-height 1.2s cubic-bezier(0.2, 0.85, 0.4, 1);
          }
        }
      }
    }
  }

  @include media($xl) {
    &__slider {
      overflow: hidden;

      &:not(.swiper-initialized) {
        .swiper-slide {
          width: calc(25% - 30px);
        }
      }
    }
  }
}
