@use './../../abstracts/variables' as *;
@use './../../abstracts/mixins' as *;

.contacts-map {
  position: relative;
  overflow: hidden;
  scroll-margin-top: 96px;

  &__aside {
    display: grid;
    gap: 4px;
    padding-block: 16px;
  }

  &__section {
    display: grid;
    gap: 24px;
    background-color: $white-15;
    backdrop-filter: blur(64px);
    padding: 24px;

    &--sm-gap {
      gap: 16px;
    }
  }

  &__title {
    text-transform: uppercase;
  }

  &__info {
    display: grid;
    gap: 4px;
  }

  &__phone {
    color: $white;
    @include font(24px, 31px, 300);
  }

  &__schedule {
    @include font(12px, 16px, 400);
    color: $white-60;
  }

  &__list {
    display: grid;
    gap: 12px;

    li {
      display: inline-flex;
      align-items: center;
      gap: 8px;
    }

    svg {
      width: 24px;
      height: 24px;
      opacity: 0.3;
    }
  }

  &__socials {
    display: flex;
    gap: 8px;
  }

  &__ymaps {
    height: 420px;
  }

  @include media($md) {
    &__aside {
      width: 300px;
      position: absolute;
      top: 24px;
      left: 24px;
      z-index: 100;
      padding: 0;
    }

    &__ymaps {
      height: 503px;
    }
  }

  @include media($lg) {
    &__ymaps {
      height: 700px;
    }

    &__aside {
      width: 340px;
      top: 40px;
      left: 48px;
    }
  }

  @include media($xl) {
    &__aside {
      left: calc((100vw - 1312px) / 2);
    }
  }
}
