@use './../../abstracts/variables' as *;
@use './../../abstracts/mixins' as *;

.property-block {
  &__wrap {
    position: relative;
  }

  &__slider {
    overflow: visible;

    &:not(.swiper-initialized) {
      .swiper-slide {
        margin-right: 16px;
      }
    }
  }

  &__card {
    width: 298px;
    height: 100%;
  }

  @include media($lg) {
    &__slider {
      &:not(.swiper-initialized) {
        .swiper-slide {
          width: calc(33.33% - 10.67px);
        }
      }
    }

    &__card {
      width: auto;
      clip-path: inset(0 0 0 0);
      will-change: clip-path, opacity;
      transition: all 0.45s cubic-bezier(0.645, 0.045, 0.355, 1);
      user-select: none;

      &:has(.property-card__layout):not(.swiper-slide-visible) {
        clip-path: inset(0 0 80px 0);
        transform: translateY(40px);
        opacity: 0.6;
        pointer-events: none;
      }
    }
  }

  @include media($xl) {
    &__slider {
      &:not(.swiper-initialized) {
        .swiper-slide {
          width: calc(25% - 12px);
        }
      }
    }
  }
}
