<div data-modal-name="apartment" class="modal modal--apartment js-modal">
  <button
    type="button"
    class="button button--action button--action--circle modal__close js-modal-close"
    aria-label="Закрыть модальное окно"
  >
    <svg class="button__icon">
      <use href="#close"></use>
    </svg>
  </button>
  <div class="modal__wrap">
    <div class="modal__dialog js-modal-dialog">
      <div class="modal__content js-modal-content"></div>
    </div>
  </div>
</div>
