<div data-modal-name="booking" class="modal js-modal">
  <button
    type="button"
    class="button button--action button--action--circle modal__close js-modal-close"
    aria-label="Закрыть модальное окно"
  >
    <svg class="button__icon">
      <use href="#close"></use>
    </svg>
  </button>
  <div class="modal__wrap">
    <div class="modal__dialog js-modal-dialog">
      <div class="modal__content js-modal-content">
        <svg class="modal__icon" width="112" height="112">
          <use href="#booking"></use>
        </svg>
        <h2 class="modal__title js-modal-title">Забронировать</h2>
        <form class="form js-ajax-form" data-url="{{ routes.booking }}" autocomplete="off">
          <div class="form__wrap">
            <div class="form__fields">
              <div class="form__fields-group">
                <input type="hidden" value="1" name="id_object" />
                {{> forms/name content=bookingForm.name }}
                {{> forms/phone content=bookingForm.phone }}
                {{> forms/email content=bookingForm.email }}
                {{> forms/textarea
                    content=bookingForm.comment }}
                {{> forms/agreement content=bookingForm.privacy }}
              </div>
              <button
                type="submit"
                class="form__button button button--primary button--size--normal form__button--submit"
              >
                Отправить заявку
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
