<div data-modal-name="floor" class="modal modal--floor js-modal js-floor-modal">
  <button
    type="button"
    class="button button--action button--action--circle modal__close js-modal-close"
    aria-label="Закрыть модальное окно"
  >
    <svg class="button__icon">
      <use href="#close"></use>
    </svg>
  </button>
  <div class="modal__wrap js-interactive-choice-block" data-url="{{ routes.getFloorPlan }}">
    <div class="modal__dialog js-modal-dialog">
      <div class="modal__content js-modal-content">
        <h2 class="modal__title js-modal-title">3 этаж</h2>

        <div class="floor js-apartments-section" data-url="{{ routes.getApartmentData }}">
          <div class="floor__wrap-picture js-floor-plan-container"></div>
          <div class="floor__nav slider-navigation">
            <button
              type="button"
              class="button button--action button--action--circle slider-navigation__button slider-navigation__button--prev js-floor-selection js-floor-selection-prev"
              aria-label="Предыдущий этаж"
              data-id=""
            >
              <svg width="24" height="24">
                <use href="#slider-arrow" />
              </svg>
            </button>
            <button
              type="button"
              class="button button--action button--action--circle slider-navigation__button slider-navigation__button--next js-floor-selection js-floor-selection-next"
              aria-label="Следующий этаж"
              data-id=""
            >
              <svg width="24" height="24">
                <use href="#slider-arrow" />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
