<button
  type="button"
  class="button-up button button--action button--action--small button--action--circle js-scroll-to-top"
>
  <svg width="24" height="24">
    <use href="#arrow-up"></use>
  </svg>
  <span class="visually-hidden">Вернуться в начало страницы</span>
</button>
