<div class="contacts-info {{ dopClass }}">
  <div class="contacts-info__contact">
    <a class="contacts-info__link link" href="tel:+78332715705">+7 (8332) 715-705</a>
    <div class="contacts-info__text">Ежедневно, с 9:00 до 21:00</div>
  </div>
  <div class="contacts-info__contact">
    <a class="contacts-info__link link" href="mailto:partner@stroy-soyuz.ru">partner@stroy-soyuz.ru</a>
    <div class="contacts-info__text">г. Киров, ул. Свободы 110</div>
  </div>
</div>
