<div class="gallery-card swiper-slide gallery__item">
  <figure class="gallery-card__figure">
    <picture>
      <source
        type="image/webp"
        srcset="
          ./images/gallery/image-400.webp   400w,
          ./images/gallery/image-800.webp   800w,
          ./images/gallery/image-1600.webp 1600w,
          ./images/gallery/image-4000.webp 4000w
        "
        sizes="(max-width: 768px) 298px, (max-width: 1080px) 100vw, 100vw"
      />
      <source
        type="image/png"
        srcset="
          ./images/gallery/image-400.png   400w,
          ./images/gallery/image-800.png   800w,
          ./images/gallery/image-1600.png 1600w,
          ./images/gallery/image-4000.png 4000w
        "
        sizes="(max-width: 768px) 298px, (max-width: 1080px) 100vw, 100vw"
      />
      <img src="./images/gallery/image.png" alt="" loading="lazy" />
    </picture>
    <figcaption class="gallery-card__caption">Вид во двор</figcaption>
  </figure>
  <a
    href="./images/gallery/image.png"
    data-fslightbox="gallery-{{ id }}"
    class="gallery-card__open-gallery-btn button button--action button--action--small button--action--circle"
  >
    <svg width="48" height="48">
      <use href="#full-screen"></use>
    </svg>
    <span class="visually-hidden">Открыть изображение в полном размере</span>
  </a>
</div>
