<div class="info-plash {{ dopClass }}">
  <div class="info-plash__buttons-group">
    <a href="#apartments" class="button button--size--small button--primary">Выбрать квартиру</a>
    <button type="button" class="button button--outline button--size--small js-modal-open-button" data-modal="feedback">
      получить консультацию
    </button>
  </div>
  <div class="info-plash__developer">
    <img src="/images/svg/developer.svg" alt="Специализированный застройщик СтройСоюз" />
  </div>
</div>
