<a class="logo {{dopClass}}" href="#top" aria-label="Вернуться наверх">
  <svg width="248" height="40">
    <use href="#logo" />
  </svg>
  <span class="visually-hidden">Логотип ЖК "Холмс"</span>
</a>
