<div class="apartament-card apartaments__card swiper-slide">
  <picture class="apartament-card__picture">
    <img src="" alt="">
  </picture>
  <div class="apartament-card__body">
    <div class="h4 apartament-card__title">Офис № 1</div>
    {{#if }}
      <ul>
        <li>Площадь 42 м2</li>
        <li>Номер: 130</li>
        <li>Стоимость: 390 000 ₽</li>
      </ul>
    {{/if }}
  </div>
  <button type="button" data-id="">Забронировать</button>
</div>