<div class="preloader">
  <header class="preloader__header js-preloader">
    {{>logo dopClass="preloader__logo"}}
  </header>
  <div class="preloader__body">
    <div class="preloader__number js-preloader-number">0</div>
  </div>
  <div class="preloader__developer">
        <img src="/images/svg/developer.svg" alt="Специализированный застройщик СтройСоюз" />
      </div>
      <div class="preloader__progressbar js-preloader-progressbar" style=""></div>
</div>