<ul class="{{ class }}">
  <li>
    <a
      class="button button--action button--action--small"
      href="https://vk.com/stroysoyuz_kirov"
      target="_blank"
      rel="nofollow"
      aria-label="Перейти в ВКонтакте"
    >
      <svg width="25" height="15">
        <use href="#vk-icon"></use>
      </svg>
    </a>
  </li>
  <li>
    <a
      class="button button--action button--action--small"
      href="https://t.me/stroysouse"
      target="_blank"
      rel="nofollow"
      aria-label="Перейти в Телеграм"
    >
      <svg width="21" height="18">
        <use href="#telegram-icon"></use>
      </svg>
    </a>
  </li>
  <li>
    <a
      class="button button--action button--action--small"
      href="#"
      target="_blank"
      rel="nofollow"
      aria-label="Перейти в Мах"
    >
      <svg width="22" height="22">
        <use href="#max-icon"></use>
      </svg>
    </a>
  </li>
</ul>
