@use './../abstracts/variables' as *;
@use './../abstracts/mixins' as *;

.container {
  padding: 0 16px;

  @media (min-width: $md) {
    padding: 0 32px;
  }

  @media (min-width: $lg) {
    padding: 0 48px;
  }

  @media (min-width: $xl) {
    width: 1312px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }
}
