@use './../abstracts/variables' as *;
@use './../abstracts/mixins' as *;

.container {
  padding: 0 16px;

  @include media($md) {
    padding: 0 24px;
  }

  @include media($lg) {
    padding: 0 48px;
  }

  @include media($xl) {
    width: 1312px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
  }
}
